.serv {
  padding-top: 120px;

  .service {
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .serviceItem {
      width: 500px;
      .projectmc {
        width: 300px;
        display: flex;
        flex-direction: column;
        font-family: Poppins;
        gap: 10px;
        .head {
          font-weight: 700;
          font-size: 2rem;
          letter-spacing: 3px;
        }
        .box {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .contest {
            border-radius: 100px;
            background: rgba(53, 53, 53, 0.86);
            text-align: center;
            color: #fff;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 3.96px;
            padding: 5px;
          }
        }
      }
      .testimo {
        width: 400px;
        margin-top: 3rem;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 50px;
        border: 2px solid rgba(129, 127, 127, 0.87);
        .head {
          color: #fff;
          font-family: "Source Sans Pro";
          font-size: 2rem;
          font-style: normal;
          font-weight: 900;
          letter-spacing: 5.28px;
        }
        .boxs {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 10px;
          .img {
            width: 148px;
            height: 156px;
            /* flex-shrink: 0; */
            background: #d9d9d9;
          }
        }
        .view {
          text-align: center;
          margin-top: 2rem;
          text-decoration: none;
          border-radius: 100px;
          background: #01c300;
          width: 141px;
          height: 34px;
          flex-shrink: 0;
          cursor: pointer;
          outline: none;
          border: none;
        }
      }
    }
    .recentWork {
      margin-top: 2rem;
      width: 600px;
      h1 {
        color: #fff;
        font-family: "Source Sans Pro";
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 120%; /* 38.4px */
        letter-spacing: 5.28px;
      }
      .workCont {
        border-radius: 100px;
        background: rgba(53, 53, 53, 0.86);
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        .say {
          color: #fff;
          font-family: Poppins;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 120%; /* 24px */
          letter-spacing: 3.3px;
        }
        .proWork {
          text-align: center;
          gap: 10px;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          img {
            width: 273px;
            height: 241px;
          }
        }
      }
    }
  }

  .dev {
    margin-top: 8rem;
    background: rgba(53, 53, 53, 0.86);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;

    h1 {
      color: #fff;
      font-family: Poppins;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 8.25px;
    }
    .divSay {
      color: #fff;
      text-align: center;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 2.64px;
    }
  }

  .video {
    margin-top: 5rem;
    align-items: center;
    text-align: center;
    place-items: center;
    margin-bottom: 3rem;

    .play {
      height: 700px;
    }
  }
}
@media (max-width: 767px) {
  .serv {
    .video {
      .play {
        height: 300px;
      }
    }
  }
}
@media (max-width: 885px) {
  .serv {
    .service {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-content: center;
      align-items: center;
      /* place-items: center; */
    }
  }
}
@media (max-width: 430px) {
  .serv {
    .service {
      padding: 0 16.5rem;

      .serviceItem {
        .testimo {
          padding: 10px;
          width: 335px;
        }
      }
      .recentWork {
        place-items: left;
        padding: 1rem 0;
        width: 355px;
        .workCont {
          padding: 30px;

          .proWork {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
          }
        }
      }
    }
  }
}
