:root {
  --green: #01c300;
  --black: #000000;
  --white: color-mix(in srgb, #fff, transparent 15%);
  --pureWhite: #fff;
  --dark: color-mix(in srgb, #353535, transparent 15%);
}
.header {
  z-index: 100;
  display: flex;
  position: fixed;
  background-color: var(--green);
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;

  .logoSpace {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
    position: relative;

    img {
      width: 190px;
      height: 100px;
      position: absolute;
      left: -3rem;
    }

    .logoName {
      display: flex;
      text-align: center;
      align-items: center;
      flex-wrap: nowrap;
      gap: 10px;
      line-height: 25px;
      padding-left: 6rem;

      div {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

        .short {
          text-transform: uppercase;
          font-size: 2rem;
          font-weight: 800;
        }

        .long {
          text-transform: capitalize;
          font-weight: 500;
        }
      }
    }
  }
  .menu {
    display: none;
  }

  .navBar {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    /* gap: 30rem; */
    width: 930px;

    .times {
      display: none;
    }

    .navItems {
      ul {
        display: flex;
        align-items: center;
        gap: 40px;

        .li {
          list-style: none;
          color: var(--white);
          font-weight: 600;
          cursor: pointer;
          font-size: 1.2rem;
          text-decoration: none;
        }
      }
    }
    .book {
      background-color: var(--black);
      text-decoration: none;
      padding: 6px;
      font-size: 1.3rem;
      font-weight: 400;
      border-radius: 70px;
      cursor: pointer;
      color: var(--white);
    }
  }
}
@media (max-width: 850px) {
  .header {
    padding: 30px;
    .logoSpace {
      .logoName {
        display: none;
      }
    }
    .menu {
      display: inline-block;
      font-size: 2rem;
      cursor: pointer;
    }

    .navBar {
      position: absolute;
      background-color: var(--green);
      width: 100%;
      text-align: center;
      align-items: center;
      padding: 30px;
      height: 100vh;
      top: -100rem;
      left: 0;
      display: flex;
      flex-direction: column;
      gap: 30px;
      transition: 0.5s ease-in-out;

      .times {
        display: inline-block;
        font-size: 2rem;
        cursor: pointer;
        position: absolute;
        right: 2rem;
      }
      .navItems {
        padding-top: 2.5rem;
        ul {
          display: flex;
          flex-direction: column;
          cursor: pointer;
          gap: 10px;
          .li {
            font-size: 2rem;
            list-style: none;
            text-decoration: none;
            font-weight: 700;
          }
        }
      }
      .book {
        background-color: var(--black);
        text-decoration: none;
        padding: 20px;
        font-size: 1.3rem;
        font-weight: 700;
        border-radius: 70px;
        cursor: pointer;
        color: var(--white);
      }
    }
  }
}
.active {
  top: 0;
}
