@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"); */
:root {
  font-family: "Source Sans Pro";

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--white);
  background-color: var(--black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --green: #01c300;
  --black: #000000;
  --white: color-mix(in srgb, #fff, transparent 15%);
  --pureWhite: #fff;
  --dark: color-mix(in srgb, #353535, transparent 15%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image {
  background: url(/home.jpeg), no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5rem 0;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 90px;

  &::after {
    content: "";
    position: absolute;
    background-color: color-mix(in srgb, #000, transparent 20%);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}
